/* Assuming you're using the default CodeMirror theme as a base */
.CodeMirror .cm-comment { color: #28B463; }
.CodeMirror .cm-string { color: #40E0D0; }
.CodeMirror .cm-keyword { color: #DFFF00; }

.CodeMirror .cm-variable {
    color: #FF7F50; /* Black */
}
.CodeMirror .cm-booleanValues {
    color: #CCCCFF;
}

.CodeMirror .cm-number {
    color: #DE3163;
}