/* This theme pallet is not used currently */
.CodeMirror .cm-comment { color: #33FF66; }
.CodeMirror .cm-string { color: #40E0D0; }
.CodeMirror .cm-keyword { color: #DFFF00; }
.CodeMirror .
.CodeMirror .cm-variable {
    color: #FF7F50; /* Black */
}
.CodeMirror .cm-booleanValues {
    color: #CCCCFF;
}

.CodeMirror .cm-number {
    color: #DE3163;
}


.CodeMirror {
    width: calc(100% - 55px); /* Adjust the width to subtract the gutter width */
    height: 100%;
}
.CodeMirror {
    font-size: 22px !important;
}

.CodeMirror-gutter .CodeMirror-linenumber {
    font-size: 22px !important;
}

.CodeMirror-gutters {
    width: 50px;
}

.editorContainer {
    overflow: auto; /* Add scrolling if the content overflows */
}
